<%- include('partials/header.ejs') %>
<body class="airbody">
<a class="btn btn-danger" style="margin-top: 22%;margin-left: 45%;" href="/new1" role="button">Start Booking!</a>
</body>
<%- include('partials/footer.ejs') %>
